<!-- - there should always be a container first
- there should be a row before any column
- columns must be placed inside row only -->
<!-- 
> 1200px 	col-xl-* - extra large
> 992px 	col-lg-* - large
> 768px 	col-md-* - medium
> 576px 	col-sm-* - small 
          col-*
-->

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="red"></div>
            </div>
            <div class="col-4">
                <div class="green"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="red"></div>
            </div>
            <div class="col-md-8">
                <div class="green"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="red"></div>
            </div>
            <div class="col-lg-4">
                <div class="green"></div>
            </div>
            <div class="col-lg-4">
                <div class="red"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="red"></div>
            </div>
            <div class="col-sm-6">
                <div class="green"></div>
            </div>
        </div>
    </div>
</div>