/* 
desktops > 1200px
mini laptops > 992px
tabs > 768px
Mobile < 768px
 */


/* 1024px
640px
480px
360px */

@media(max-width: 1200px) {
    body {
        background-color: lightblue;
    }
}

.row {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: stretch;
}

.column {
    border: 2px solid red;
    padding: 10px;
    background-color: lightgray;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 20%;
}

img {
    width: 100%;
}

@media(max-width: 768px) {
    .row {
        display: block;
    }
    .column {
        width: 100%;
        margin-bottom: 20px;
        padding: 0px;
    }
}